<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>首页 - 橙子(Orange)后台管理系统</title>
    <link rel="icon" href="/admin/images/tubiao.png" type="image/ico">
    <meta name="keywords" content="橘子-后台管理系统项目">
    <meta name="description" content="橘子-后台管理系统项目">
    <meta name="author" content="orange">
    <link rel="stylesheet" href="/admin/js/jconfirm/jquery-confirm.min.css">
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/admin/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin/js/jquery-tags-input/jquery.tagsinput.min.css">

</head>

<body data-theme="dark">
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a class="navbar-brand  " href="/system/index">橙子-后台管理</a>
            </div>
            <div class="lyear-layout-sidebar-scroll">

                <#include "../common/leftMenu.html">

                <div class="sidebar-footer">
                    <p class="copyright">orange © 2020</p>
                    <p class="copyright">qq:330409764</p>
                    <p class="copyright">欢迎！！</p>
                </div>
            </div>

        </aside>
        <!--End 左侧导航-->
        <!--  头  -->
        <#include "../common/headerMenu.html">

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header"><h4>添加物品分类</h4></div>
                            <div class="card-body">
                                <form action="add" id="goodcategory-add-form" method="post" class="row">

                                    <div class="input-group m-b-10">
                                        <span class="input-group-addon">分类icon</span>
                                        <input type="file" id="select-file" style="display:none;" onchange="upload_icon('show-picture-img','icon')">
                                        <input type="text" readonly="readonly" class="form-control required" id="icon" name="icon" value="" placeholder="请上传分类icon" tips="请上传分类icon" />
                                        <span class="input-group-btn">
                                <button class="btn btn-primary" id="add-pic-btn" type="button">点击上传</button>
                                </span>
                                    </div>
                                    <div class="input-group m-b-10">
                                        <span class="input-group-addon">分类名称</span>
                                        <input type="text" class="form-control required" id="name" name="name" value="" placeholder="请输入分类名称" tips="请填写用分类名称" />
                                    </div>
                                    <div class="input-group m-b-10">
                                        <span class="input-group-addon">所属分类</span>
                                        <select name="parent.id" class="form-control" >
                                            <#if goodsCategorys??>
                                            <option value="">请选择上级分类</option>
                                            <#list goodsCategorys as gc>
                                            <option value="${gc.id}" >|==>>${gc.name}</option>
                                </#list>
                            </#if>
                            </select>
                        </div>
                                    <div class="input-group m-b-10">
                                        <span class="input-group-addon">分类排序</span>
                                        <input type="number" class="form-control" id="sort" name="sort" value="0" />
                                    </div>


            <div class="form-group col-md-12">
                <button type="button" class="btn btn-primary ajax-post" id="edit-form-submit-btn">确 定</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回
                </button>
            </div>
            </form>

    </div>
</div>
</div>

</div>


<script type="text/javascript" src="/admin/js/jquery.min.js"></script>
<#include "../common/icons.html">
<script type="text/javascript" src="/admin/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/admin/js/perfect-scrollbar.min.js"></script>
<!--标签插件-->
<script src="/admin/js/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/admin/js/main.min.js"></script>
<!--图表插件-->
<script type="text/javascript" src="/admin/js/Chart.js"></script>
<script type="text/javascript" src="/admin/js/common.js"></script>
<script src="/admin/js/jconfirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="/admin/js/chosen.jquery.min.js"></script>
<script type="text/javascript">

    //提交按钮监听事件
    $("#edit-form-submit-btn").click(function(){
        if(!checkForm("goodcategory-add-form")){
            return;
        }
        var data = $("#goodcategory-add-form").serialize();
        $.ajax({
            url:'add',
            type:'POST',
            data:data,
            dataType:'json',
            success:function(data){
                if(data.code === 0){
                    showSuccess('分类添加成功!',function(){
                        window.location.href = 'list';
                    })
                }else{
                    showErrorMsg(data.msg);
                }
            },
            error:function(data){
                alert('网络错误!');
            }
        });
    });
//  监听图片上传按钮



    $("#add-pic-btn").click(function(){
        $("#select-file").click();
    });




</script>
</body>
</html>