<footer>
    <img class="footer-tri" src="/home/imgs/footer-tri.png">
    <div class="friend-links">
        <div class="links-title center">友情链接</div>
        <ul class="links-wr center">
            <li class="first">
                <a href="#" target="_top" class="links">山西</a>
            </li>
            <li>
                <a href="#" target="_top" class="links">运城</a>
            </li>
            <li>
                <a href="#" target="_top" class="links">绛县</a>
            </li>
            <li>
                <a href="#" target="_top" class="links">orange</a>
            </li>
        </ul>
    </div>
    <div class="site-msg line2">
        <span class="power">©2020 orange公司 版权所有</span>
        <span>开发By orange</span>
    </div>
</footer>