<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>橙子-二手交易平台</title>
    <link media="all" href="/home/css/index.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="/admin/images/tubiao.png" type="image/ico">

</head>

<body>
<#include "../common/top_header.html" >
<#include "../common/left_menu.html" >
<link media="all" href="/home/css/index.css" type="text/css" rel="stylesheet">

<div class="container">
    <div class="main center">
        <div class="wrap-site mt20">
            <div class="recom-title"></div>
            <ul class="recom-list group">
                <li><a href="http://www.2shoujie.com/publishRule" target="_top">商品发布规则</a></li>
                <li><a href="http://www.2shoujie.com/article/4.html" target="_top">购买二手iPhone注意事项</a></li>
            </ul>
        </div>
        <div class="label-wr center clearfix">
            <div id="nav-labels">
                <button id="new_pro" class="labels" onclick="" ></button>
            </div>

        </div>

        <div class="item-list">
            <ul class="items clearfix">


               <li class="item">
                   <a href="#" class="img" target="_top"><img src="/home/imgs/orange.jpg" alt=""></a>
                   <div class="info">
                       <div class="price">""</div>
                       <div class="name">
                           <a href="" >""</a>
                       </div>
                       <div class="department"><span>""</span></div>
                       <div class="school"><span>推荐</span></div>
                    </div>
               </li>
                <li class="item">
                    <a href="#" class="img" target="_top"><img src="/home/imgs/orange.jpg" alt=""></a>
                    <div class="info">
                        <div class="price">""</div>
                        <div class="name">
                            <a href="" >""</a>
                        </div>
                        <div class="department"><span>""</span></div>
                        <div class="school"><span>推荐</span></div>
                    </div>
                </li>
                <li class="item">
                    <a href="#" class="img" target="_top"><img src="/home/imgs/orange.jpg" alt=""></a>
                    <div class="info">
                        <div class="price">""</div>
                        <div class="name">
                            <a href="" >""</a>
                        </div>
                        <div class="department"><span>""</span></div>
                        <div class="school"><span>推荐</span></div>
                    </div>
                </li>
                <li class="item">
                    <a href="#" class="img" target="_top"><img src="/home/imgs/orange.jpg" alt=""></a>
                    <div class="info">
                        <div class="price">""</div>
                        <div class="name">
                            <a href="" >""</a>
                        </div>
                        <div class="department"><span>""</span></div>
                        <div class="school"><span>推荐</span></div>
                    </div>
                </li>
                <li class="item">
                    <a href="#" class="img" target="_top"><img src="/home/imgs/orange.jpg" alt=""></a>
                    <div class="info">
                        <div class="price">""</div>
                        <div class="name">
                            <a href="" >""</a>
                        </div>
                        <div class="department"><span>""</span></div>
                        <div class="school"><span>推荐</span></div>
                    </div>
                </li>


            </ul>
        </div>
        <!-- 分页 开始 -->
        <div class="pages">
            <a class="page-num cur" href="http://hust.2shoujie.com/recent">1</a>
            <a class="page-num " href="http://hust.2shoujie.com/recent/pn2">2</a>
            <a class="page-num " href="http://hust.2shoujie.com/recent/pn3">3</a>
            <a class="page-num " href="http://hust.2shoujie.com/recent/pn4">4</a>
            <a class="page-num " href="http://hust.2shoujie.com/recent/pn5">5</a>
            <a class="page-num " href="http://hust.2shoujie.com/recent/pn6">6</a>
            <a class="page-num " href="http://hust.2shoujie.com/recent/pn7">7</a>
            <a class="page-num " href="http://hust.2shoujie.com/recent/pn8">8</a>
            <a class="page-arrow arrow-right" href="http://hust.2shoujie.com/recent/pn2">下一页</a>
        </div>
        <!-- 分页 结束 -->
    </div>
</div>

<div class="return-to-top"><a href="#"></a></div><!--返回顶部-->



<script  type="text/javascript" src="/home/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/home/js/common.js"></script>
<script type="text/javascript" src="/home/js/index_add.js"></script>
<#include "../common/right_menu.html" >
<#include "../common/footer_menu.html" >




</html>