<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>首页 - 橙子(Orange)后台管理系统</title>
    <link rel="icon" href="/admin/images/tubiao.png" type="image/ico">
    <meta name="keywords" content="橘子-后台管理系统项目">
    <meta name="description" content="橘子-后台管理系统项目">
    <meta name="author" content="orange">
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/admin/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin/js/jconfirm/jquery-confirm.min.css">

  </head>

  <body data-theme="dark">
    <div class="lyear-layout-web">
      <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">

          <!-- logo -->
          <div id="logo" class="sidebar-header">
<!--            <a href="/system/index"><img src="/admin/images/orange.png" title="${sitename!""}" alt="${sitename!""}" /></a>-->
            <a class="navbar-brand  " href="/system/index">橙子-后台管理</a>
          </div>
          <div class="lyear-layout-sidebar-scroll">

            <#include "../common/leftMenu.html">

            <div class="sidebar-footer">
              <p class="copyright">orange © 2020</p>
              <p class="copyright">qq:330409764</p>
              <p class="copyright">欢迎！！</p>
            </div>
          </div>

        </aside>
        <!--End 左侧导航-->
        <!--  头  -->
        <#include "../common/headerMenu.html">

        <!--页面主要内容-->

        <main class="lyear-layout-content">

          <div class="container-fluid">

            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-toolbar clearfix">

                    <#include "../common/third-menu.html">

                  </div>
                  <div class="card-body">

                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>
                              <label class="lyear-checkbox checkbox-primary">
                                <input type="checkbox" id="check-all"><span></span>
                              </label>
                            </th>

                            <th >备份文件</th>
                            <th>详细路径</th>
                            <th>备份时间</th>



                          </tr>
                        </thead>
                        <tbody>
                          <#if pageBean.content??>
                          <#if pageBean.content?size gt 0>
                          <#list pageBean.content as database>
                          <tr >

                            <td>
                              <label class="lyear-checkbox checkbox-primary">
                                <input type="checkbox" name="ids[]" value="${database.id}"><span></span>
                              </label>
                            </td>

                            <td ><b>${database.filename}</b></td>
                            <td><b>${database.filepath}</b></td>
                            <td><font class="text-success">${database.createTime}</font></td>
                          </tr>
                        </#list>
                          <#else>
                          <tr align="center"><td colspan="4">这里空空如也！</td></tr>
                      </#if >
                    </#if >
                        </tbody>
                      </table>
                    </div>

                    <#if pageBean.total gt 0>
                    <ul class="pagination">
                      <#if pageBean.currentPage == 1>
                      <li class="disabled"><span>«</span></li>
                      <#else>
                      <li><a href="list?currentPage=1">«</a></li>
                    </#if>
                    <#list pageBean.currentShowPage as showPage>
                    <#if pageBean.currentPage == showPage>
                    <li class="active"><span>${showPage}</span></li>
                    <#else>
                    <li><a href="list?currentPage=${showPage}">${showPage}</a></li>
                  </#if>
                </#list>
                <#if pageBean.currentPage == pageBean.totalPage>
                <li class="disabled"><span>»</span></li>
                <#else>
                <li><a href="list?currentPage=${pageBean.totalPage}">»</a></li>
              </#if>
              <li><span>共${pageBean.totalPage}页,${pageBean.total}条数据</span></li>
              </ul>

            </#if>
        <!--End 页面主要内容-->
      </div>
    </div>

    <script type="text/javascript" src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/admin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/admin/js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="/admin/js/main.min.js"></script>


    <!--图表插件-->
    <script src="/admin/js/jconfirm/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="/admin/js/Chart.js"></script>
    <script type="text/javascript" src="/admin/js/common.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){

      });
      function del(url){
        if($("input[type='checkbox']:checked").length < 1){
          showWarinMsg('请至少选择一条数据进行删除！');
          return;
        }
        var ids = '';
        $("input[type='checkbox']:checked").each(function(i,e){
          if($(e).attr('id') != 'check-all'){
            ids += $(e).val() + ',';
          }
        });
        if(ids != ''){
          ids = ids.substring(0,ids.length-1);

        }
        $.confirm({
          title: '确定删除？',
          content: '删除后数据不可恢复，请慎重！',
          buttons: {
            confirm: {
              text: '确认',
              action: function(){
                deleteReq(ids,url);
              }
            },
            cancel: {
              text: '关闭',
              action: function(){

              }
            }
          }
        });
      }

      function add(url){
        ajaxRequest(url,'post',{},function(rst){
          if(rst.code == 0){
            showSuccess('备份成功！',function(){
              window.location.reload();
            });
          }

        });

      }

      //调用删除方法
      function deleteReq(ids,url){
        $.ajax({
          url:url,
          type:'POST',
          data:{ids:ids},
          dataType:'json',
          success:function(data){
            if(data.code == 0){
              showSuccess('数据库备份删除成功!',function(){
                window.location.reload();
                //$("input[type='checkbox']:checked").parents("tr").remove();
              })
            }else{
              showErrorMsg(data.msg);
            }
          },
          error:function(data){
            alert('网络错误!');
          }
        });
      }

      function restore(url){
        if($("input[type='checkbox']:checked").length != 1){
          showWarinMsg('请选择一条数据进行还原！');
          return;
        }
        var id = $("input[type='checkbox']:checked").val();
        ajaxRequest(url,'post',{id:id},function(rst){
          if(rst.code == 0){
            showSuccess('还原成功！',function(){
              window.location.reload();
            });
          }

        });

      }
    </script>
  </body>
</html>